body {
    margin-top: 5px;
}

body {
    background-color: rgb(194, 178, 128);
}

.error {
    color: red;
}

.button {
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


/* .alert {
    border: 1px solid #ccc;
    padding: 6px;
}

.alert-info {
    background-color: #d9edf7;
}

.alert-success {
    background-color: #dff0d8;
}

.alert-warning {
    background-color: #fcf8e3;
} */

/* button {
    border: 1px black;
} */