body {
    margin-top: 5px;
}

body {
    background-color: rgb(154, 194, 150);
}

.error {
    color: red;
}

.button {
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.narrow-table {
    max-width: 600px;
    margin: 0 auto;
}