{% extends "base.html" %}

{% block title %}Last conversions{% endblock %}

{% block body %}

<main>
    <section class="mt-2">
        <div class="container col-md-6">
            <div class="row mb-5 mt-2">
                {% if last|length == 0 %}
                <h3>I can't find anything! <a href="/">Go home.</a></h3>
                {% else %}
                <h2>Last 10 currencies conversions.</h2>
                <table class="table table-bordered table-sm table-hover border border-5 narrow-table">
                    <tr>
                        <th>Amount</th>
                        <th>From currency</th>
                        <th>To currency</th>
                        <th>Result</th>
                    </tr>
                    {% for row in last %}
                    <tr>
                        <td>
                            {{ row.amount|number_format(2, ',', '.') }}
                        </td>
                        <td>
                            {{ row.from_currency }}
                        </td>
                        <td>
                            {{ row.to_currency }}
                        </td>
                        <td>
                            {{ row.result|number_format(2, ',', '.') }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </section>

</main>

{% endblock %}