{% extends "base.html" %}

{% block title %}Fetch Currencies{% endblock %}

{% block body %}

<main>
    <section class="mt-2">
        <div class="container col-md-6">
            <header>

            </header>
            <div class="row mb-5 mt-2">
                <h3>The C Table of buying and selling exchange rates of foreign currencies (from {{ "now"|date("m/d/Y")
                    }})</h3>
                <table>
                    <tr>
                        <th>Currency name</th>
                        <th>Code</th>
                        <th>Bid</th>
                        <th>Ask</th>
                    </tr>
                    {% for row in data %}
                    <tr>
                        <td>
                            {{ row.currency }}
                        </td>
                        <td>
                            {{ row.code }}
                        </td>
                        <td>
                            {{ row.bid }}
                        </td>
                        <td>
                            {{ row.ask }}
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </section>

</main>

{% endblock %}